In [52]:
import nltk

In [53]:
para ="""I will go to Germany for my master's degree in 2027.
My dream is to pursue a master's program in Germany in the year 2027.
In 2027, I am planning to begin my master's studies in Germany.
Germany is my chosen destination for a master's degree starting in 2027.
I aim to study a master's course in Germany by 2027 to advance my career."""

In [54]:
"cleaning text-"
"removing stopwords, lemmitization, stemming,remove commas.."

'removing stopwords, lemmitization, stemming,remove commas..'

In [55]:
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [56]:
stemmer = PorterStemmer()
Lemmatizer = WordNetLemmatizer()

In [57]:
sent = nltk.sent_tokenize(para)

In [58]:
"for lemmatization"
corpus=[]
for i in range(len(sent)):
    review = re.sub('[^a-zA-Z]',' ',sent[i])
    review = review.lower()
    review = review.split()
    review = [Lemmatizer.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
    review =' '.join(review)
    corpus.append(review)

In [50]:
"for stemming"
corpus=[]
for i in range(len(sent)):
    review = re.sub('[^a-zA-Z]',' ',sent[i])
    review = review.lower()
    review = review.split()
    review = [stemmer.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review =' '.join(review)
    corpus.append(review)

In [43]:
"using lemmatization result below----"

'using lemmatization'

In [59]:
corpus

['go germany master degree',
 'dream pursue master program germany year',
 'planning begin master study germany',
 'germany chosen destination master degree starting',
 'aim study master course germany advance career']

In [ ]:
"using stemming result below----"

In [51]:
corpus

['go germani master degre',
 'dream pursu master program germani year',
 'plan begin master studi germani',
 'germani chosen destin master degre start',
 'aim studi master cours germani advanc career']

In [33]:
"can see stemming is not giving redable result.. so better if we use Lemmatization..."

'can see stemming is not giving redable result.. so better if we use Lemmatization...'

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
x = cv.fit_transform(corpus).toarray()

In [66]:
import pandas as pd
df = pd.DataFrame(x)

In [69]:
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0   0   0   0   0   0   0   1   0   0   1   1   1   0   0   0   0   0   0
1   0   0   0   0   0   0   0   0   1   1   0   1   0   1   1   0   0   1
2   0   0   1   0   0   0   0   0   0   1   0   1   1   0   0   0   1   0
3   0   0   0   0   1   0   1   1   0   1   0   1   0   0   0   1   0   0
4   1   1   0   1   0   1   0   0   0   1   0   1   0   0   0   0   1   0